* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: calc(50px * var(--scale, 1));
    height: calc(50px * var(--scale, 1));
    border: solid 1px #000;
}
